# PSP fw config file

# BLOBS NOT ADDED:
#  TypeId0x64_Appb_STXHMCR_Lpddr5McrImem7.csbin: not listed in BIOSImageDirectory XML
#  TypeId0x65_Appb_STXHMCR_Lpddr5McrDmem7.csbin: not listed in BIOSImageDirectory XML
#  TypeId0x88*.sbin:                             not listed in BIOSImageDirectory XML
#                                                (only as POINT_ENTRY)

FIRMWARE_LOCATION          3rdparty/amd_blobs/strixhalo/PSP
SOC_NAME                   Strixhalo

# type                     file
AMD_PUBKEY_FILE            TypeId0x00_RootKey_STXH.tkn
PSPBTLDR_AB_STAGE1_FILE    TypeId0x01_PspBootLoader_STXH.sbin
PSPSECUREOS_FILE           TypeId0x02_PspOS_STXH.sbin
PSP_SMUFW1_SUB0_FILE       TypeId0x08_SmuFirmware_STXH.sbin
PSPSECUREDEBUG_FILE        TypeId0x09_SecureDebugUnlockKey_STXH.stkn
PSPTRUSTLETS_FILE          TypeId0x0C_FtpmDrv_STXH.sbin
PSP_SMUFW2_SUB0_FILE       TypeId0x12_SmuFirmware2_STXH.sbin
PSP_SEC_DEBUG_FILE         TypeId0x13_PspEarlyUnlock_STXH.sbin
PSP_TEEIPKEY_FILE          TypeId0x15_drv_ipkeymgr_STXH.sbin
PSP_BOOT_DRIVER_FILE       TypeId0x1B_BootDriver_STXH.sbin
PSP_SOC_DRIVER_FILE        TypeId0x1C_SocDriver_STXH.sbin
PSP_DEBUG_DRIVER_FILE      TypeId0x1D_DebugDriver_STXH.sbin
PSP_INTERFACE_DRIVER_FILE  TypeId0x1F_InterfaceDriver_STXH.sbin
PSP_HW_IPCFG_FILE_SUB0     TypeId0x20_HwIpCfg_STXH.sbin
PSP_IKEK_FILE              TypeId0x21_PspiKek_STXH.bin
PSP_SECG0_FILE             TypeId0x24_SecPolicy_STXH.sbin
PSP_MP2FW0_FILE            TypeId0x25_Mp2Fw_STXH.sbin
AMD_DRIVER_ENTRIES         TypeId0x28_PspSystemDriver_STXH.sbin
PSP_MP5FW_SUB0_FILE        TypeId0x2A_Mp5Fw_STXH.sbin
PSP_ABL0_FILE              TypeId0x30_AgesaBootloaderU_STXH_LPDDR5.sbin
VBIOS_BTLOADER_FILE        TypeId0x3C_VbiosBootLoader_STXH.sbin
SECURE_POLICY_L1_FILE      TypeId0x45_SecPolicytOS_STXH.sbin
DRTMTA_FILE                TypeId0x47_drv_drtm_PROD.sbin
KEYDBBL_FILE               TypeId0x50_KeyDbBl_STXH.sbin
KEYDB_TOS_FILE             TypeId0x51_KeyDbTos_STXH.sbin
SPL_TABLE_FILE             TypeId0x55_SplTableBl_STXH.sbin
MSMU_FILE                  TypeId0x5A_Msmu_Lpddr5_STXH.csbin
SPIROM_CONFIG_FILE         TypeId0x5C_SpiRomConfig_STXH.sbin
PSP_MPIOFW_FILE            TypeId0x5D_MPIO_STXH.sbin
TPMLITE_FILE               TypeId0x5F_PlutonPlatFw.sbin
DMCUB_FILE                 TypeId0x71_DmcubFw_STXH.sbin
PSPBTLDR_AB_FILE           TypeId0x73_PspBootLoader2_STXH.sbin
PSP_RIB_FILE_SUB0          TypeId0x76_DfRib_STXH.sbin
AMF_SRAM_FILE              TypeId0x85_MPMSram_STXH.sbin
AMF_DRAM_FILE_INS0         TypeId0x86_MPMDram_STXH.sbin
AMF_MFD_FILE               TypeId0x89_MFD_STXH.sbin
TA_IKEK_FILE               TypeId0x8d_iKEK_TA_STXH.bin
SFDR_FILE                  TypeId0x8E_drv_sfdr_SAR_PROD.sbin
LSDMA_FILE                 TypeId0x94_LSDMA.sbin
PSP_C20MP_FILE             TypeId0x95_C20MP_PHY.sbin
FEATURE_TABLE_FILE         TypeId0x98_AIM-T_Enable.bin
MINIMSMU_FILE              TypeId0x9A_MiniMsmu_Lpddr5_STXH.csbin
PSP_GFX_IMMU_FILE_0        TypeId0x9B_IMU_iram_STXH.sbin
PSP_GFX_IMMU_FILE_1        TypeId0x9C_IMU_dram_STXH.sbin
SRAM_FW_EXT_FILE           TypeId0x9D_Overlay_STXH.sbin
PSP_S3_IMG                 TypeId0xA0_S3Image_STXH_A0.sbin
PSP_USB_DP                 TypeId0xA4_USB_DP_STXH.sbin
PSP_USB_SS                 TypeId0xA5_USB_SSP_STXH.sbin
PSP_USB_4                  TypeId0xA6_USB4_STXH.sbin

# BDT
PSP_PMUI_FILE_SUB0_INS1    TypeId0x64_Appb_STXH_Lpddr5Imem1.csbin
PSP_PMUI_FILE_SUB0_INS2    TypeId0x64_Appb_STXH_Lpddr5Imem2.csbin
PSP_PMUI_FILE_SUB0_INS3    TypeId0x64_Appb_STXH_Lpddr5Imem3.csbin
PSP_PMUD_FILE_SUB0_INS1    TypeId0x65_Appb_STXH_Lpddr5Dmem1.csbin
PSP_PMUD_FILE_SUB0_INS2    TypeId0x65_Appb_STXH_Lpddr5Dmem2.csbin
PSP_PMUD_FILE_SUB0_INS3    TypeId0x65_Appb_STXH_Lpddr5Dmem3.csbin
PSP_PMUI_FILE_SUB0_INSb    TypeId0x64_Appb_STXH_Lpddr5XImem11.csbin
PSP_PMUI_FILE_SUB0_INSc    TypeId0x64_Appb_STXH_Lpddr5XImem12.csbin
PSP_PMUI_FILE_SUB0_INSd    TypeId0x64_Appb_STXH_Lpddr5XImem13.csbin
PSP_PMUD_FILE_SUB0_INSb    TypeId0x65_Appb_STXH_Lpddr5XDmem11.csbin
PSP_PMUD_FILE_SUB0_INSc    TypeId0x65_Appb_STXH_Lpddr5XDmem12.csbin
PSP_PMUD_FILE_SUB0_INSd    TypeId0x65_Appb_STXH_Lpddr5XDmem13.csbin
PSP_PMUI_FILE_SUB0_INS7    TypeId0x64_Appb_STXHMCR_Lpddr5XMcrImem7.csbin
PSP_PMUD_FILE_SUB0_INS7    TypeId0x65_Appb_STXHMCR_Lpddr5XMcrDmem7.csbin
PSP_MP2CFG_FILE            TypeId0x6a_Mp2FwConfig_STXH.sbin
